# OS
.DS_Store
Thumbs.db
*.log

# nodejs
node_modules
npm-debug.log

config/config.json
*.rdb

/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
