script#davneko_audiobox(type='x-template')
  div.controller.left-align
    button.btn-floating.teal.darken-4.z-depth-1(
      v-show='player.file.path'
      v-on:click='onTriggerNext')
      i.fa.fa-step-forward
    button.btn-floating.teal.darken-4.z-depth-1(
      v-show='player.file.path'
      v-on:click='togglePlayPause')
      i.fa.fa-pause(v-show='player.control.playing')
      i.fa.fa-play(v-show='!player.control.playing')
    button.btn-floating.teal.darken-4.z-depth-1.right(
      v-on:click='clearPlaylist')
      i.fa.fa-trash-o
    button.btn-floating.teal.darken-4.z-depth-1.right.with-separater(
      v-on:click='toggleLoop',
      v-bind:class='{ "darken-2": player.control.loop, "darken-4": !player.control.loop }')
      i.fa.fa-repeat
  div.card.audiobox
    div.card-action.teal.white-text(:class="{ boundbox: reaction.addfile }")
      h5.truncate {{player.file.name}}
      audio#audio_player(
        v-el:audio_player
        :loop='player.control.loop'
        v-bind:src='player.file.path | pathToQuery'
        @play='onAudioPlay'
        @pause='onAudioPause'
        @stop='onAudioStop'
        @timeupdate='updateAudioTime | debounce 300'
        autoplay)
      div.seekbar.black(
        v-el:seekbar
        @click='onClickSeekbar')
        div.seekbar-inner.red.darken-2(
          v-bind:style='{ width: player.control.currentSeekParcent + "%" }')
      
    ul.collection.blue-grey-text.darken-4.left-align.playlist
      li.collection-item(draggable='true' v-for='file in playlist')
        i.mdi-navigation-unfold-more.teal-text.playlist-replacer(
          v-on:dragstat='onDragQueueStart')
        i.mdi-content-clear.btn-floating.btn-small.center.red.playlist-deleter(
          v-on:click='deleteItem($index)')
        p.truncate {{file.name}}
          
      
    
