script#davneko_audiobox(type='x-template')
  div.card.audiobox
    div.card-action.teal.white-text(:class="{boundbox: reaction.addfile}")
      h5.truncate {{player.file.name}}
      audio#audio_player.z-depth-1(
        v-el:audio_player :loop='player.control.loop'
        v-bind:src='player.file.path | pathToQuery'
        controls autoplay)
      div.controller.left-align
        div.right
          button.btn-floating.teal.darken-4.z-depth-1(
            v-on:click='clearPlaylist')
            i.fa.fa-trash-o
        div.right
          button.btn-floating.teal.darken-4.z-depth-1(
            v-on:click='toggleLoop',
            v-bind:class='{ "darken-2": player.control.loop, "darken-4": !player.control.loop }')
            i.fa.fa-repeat
        div
          button.btn-floating.teal.darken-4.z-depth-1(
            v-on:click='onTriggerNext')
            i.fa.fa-step-forward
      
    ul.collection.blue-grey-text.darken-4.left-align.playlist
      li.collection-item(draggable='true' v-for='file in playlist')
        i.mdi-navigation-unfold-more.teal-text.playlist-replacer(
          v-on:dragstat='onDragQueueStart')
        i.mdi-content-clear.btn-floating.btn-small.center.red.playlist-deleter(
          v-on:click='deleteItem($index)')
        p.truncate {{file.name}}
          
      
    
