script#davneko_nav(type='x-template')
  nav.top-nav
    div.container
      div.nav-wrapper
        h2 Music
  div.container
    a.button-collapse.top-nav.full(href='#')
      i.mdi-navigation-menu
  div.side-nav.fixed
    h1.center davneko
    ul.collection

script#davneko_header_overlay
  div#sidenav-overlay
