script#davneko_header(type='x-template')
  nav.top-nav
  ul.side-nav.fixed.collection.with-header
    li.not-selectable.collection-header
      h1 davneko
    li.collection-item
      i.mdi-av-my-library-music
      span.bold Music
    li.collection-item
      i.mdi-av-my-library-books
      span.bold Book
