script#davneko_nav(type='x-template')
  
  div
    a.button-collapse.top-nav.full(href='#' v-on='click: toggleNav')
      i.mdi-navigation-menu
        
  ul.side-nav.fixed.collection.with-header
    div.side-nav-contents
      li.collection-item.file-item(
        v-repeat='file:filelist' v-on='click: onSelectItem(file)')
        span
          i(v-attr='class: file | file2IconName')
        span.truncate {{file.name}}
    div.side-nav-header.fixed
      li.not-selectable.collection-header
        h1(v-on='click: toggleNav') davneko
      li.collection-item.not-selectable.file-depth
        i.mdi-navigation-chevron-right(
          v-repeat='file : depth' v-on='click: onSelectDepth(file, $index)')
        span(v-if='depth[0]') {{depth[depth.length-1].name}}
        div.btn.file-trigger(v-on="click: addFilesAll")
          i.fa.fa-folder-open.yellow-text
          i.fa.fa-arrow-right
