extends layout

block content
  body
    div.container.center
      div.row
        div.col.s10.offset-s1.m8.offset-m2.l6.offset-l3
          div.card
            h1.card-content.green-text.text-darken-1 davneko
            form.card-action(method='post' action='/auth')
              div.input-field
                input.validate(type='text' name='username' placeholder='username')
              div.input-field
                input.validate(type='password' name='password' placeholder='password')
              input.btn.waves-effect.waves-light(type='submit' value='Enter' autofocus)
