extends layout

block content
  body
    div.container
      div.card.dn_auth-container.center
        h1.card-content.green-text.text-darken-1 davneko
        form.card-action(method='post' action='/auth')
          div.input-field
            input.validate(type='text' name='username' placeholder='username')
          div.input-field
            input.validate(type='password' name='password' placeholder='password')
          input.btn.waves-effect.waves-light(type='submit' value='Enter' autofocus)
