extends layout

block content
  form(method='post' action='/auth' class='dn-auth')
    input(type='text' name='username' placeholder='username' class='textbox')
    input(type='password' name='password' placeholder='password' class='textbox')
    input(type='submit' value='Enter' class='submit')
