extends layout

block content
  div#davneko.davneko.hide
    div#fileviewer.fileviewer
      ul.filelist(v-repeat='dirs', data-name='{{name}}', data-depth='{{depth}}')
        li(v-repeat='file: files', v-on='click: fileOpen', class='{{file.type}}')
          i.fileicon(class='{{file | file2icon}}')
          {{file.name}}
    div.mediaviewer(v-show='media.show')
      div#dn_media.mediaview(v-component='{{media.component}}' v-with='media' v-ref='dn_media')
      i.close.fa.fa-times(v-on='click: closeMedia')
      script#dn_media_book(type='x-template')
        iframe.dn-media-book(src='{{src}}')
      script#dn_media_music(type='x-template')
        audio.dn-media-music(src='{{src}}' controls)
      script#dn_media_movie(type='x-template')
        video.dn-media-movie(src='{{src}}' controls)
      script#dn_media_image(type='x-template')
        img.dn-media-image(src='{{src}}')
      script#dn_media_blank(type='x-template')


block js
  script(src='//cdnjs.cloudflare.com/ajax/libs/vue/0.11.3/vue.min.js', type='text/javascript')
  script(src='//cdnjs.cloudflare.com/ajax/libs/superagent/0.15.7/superagent.min.js', type='text/javascript')
  script(src='/javascripts/app.js', type='text/javascript', async, defer)
