<html>
  <head>
    <meta charset="utf-8" />
    <title>davneko</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="canonical" href="#{base_uri}" />
    <script
      src="/main.js"
      type="text/javascript"
      async="async"
      defer="defer"
    ></script>
    <script
      async="async"
      src="https://www.googletagmanager.com/gtag/js?id="
    ></script>
    <script async="async">
      window.dataLayer = window.dataLayer || []

      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())
      gtag("config", "")
    </script>
  </head>

  <body id="davneko"></body>
</html>
