extends layout

block content
  
  body#davneko
    header(v-component='header')
    main
      section(v-component='{{app_component}}')
      section(v-component='filer')

block js
  include components/header
  include components/filer
  include components/audiobox
  script(src='/javascripts/script.js', type='text/javascript', async, defer)
