extends layout

block content
  
  body#davneko
    header(v-component='nav')
    main
      section.container(v-component='{{app_component}}')

block js
  include components/nav
  include components/audiobox
  script(src='/javascripts/script.js', type='text/javascript', async, defer)
