extends layout

block content
  
  body#davneko
    header
      filer
    main
      section
        component(:is='app_component')

block js
  include components/nav
  include components/audiobox
  script(src='/javascripts/script.js', type='text/javascript', async, defer)
