doctype html
html
  head
    meta(charset='utf-8')
    title davneko
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' href='/favicon.ico')
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel='canonical' href="#{base_uri}")
    script(src='/main.js', type='text/javascript', async, defer)

    block content
