div.mediaviewer(v-show='media.show')
  div#dn_media.mediaview(v-component='{{media.component}}' v-with='media')
  i.close.fa.fa-times(v-on='click: closeMedia')


script#dn_media_book(type='x-template')
  iframe.dn-media-book(src='{{src}}')

script#dn_media_music(type='x-template')
  audio.dn-media-music(src='{{src}}' controls autoplay repeat='{{repeat}}')
  i.fa.fa-repeat(v-on='click: toggleRepeat')

script#dn_media_movie(type='x-template')
  div.dn-media-movie
    video(src='{{src}}' controls)

script#dn_media_image(type='x-template')
  img.dn-media-image(src='{{src}}')

script#dn_media_blank(type='x-template')
