* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

footer .copy {
  margin: 20px; }

.hide {
  display: none; }

.dn-auth {
  margin: 100px auto;
  padding: 0;
  width: 300px;
  border: 1px solid gainsboro;
  border-radius: 2px;
  text-align: center; }
  .dn-auth h1 {
    font-size: 42px;
    color: #4890e2; }
  .dn-auth input {
    display: block;
    font-size: 18px; }
  .dn-auth input[type='text'], .dn-auth input[type='password'] {
    margin: 10px auto 40px;
    padding: 8px 0;
    width: 200px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    text-align: center;
    font-size: 18px; }
  .dn-auth button {
    margin: 0 auto;
    padding: 12px 0;
    width: 100%;
    border: 0;
    background: #4890e2;
    font-size: 16px;
    color: #fcfcfc;
    cursor: pointer; }
  .dn-auth button:after {
    display: block;
    margin: 4px 0 0 0;
    font-size: 24px;
    font-family: FontAwesome;
    content: "\f090"; }

.fileviewer {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: visible;
  white-space: nowrap; }
  .fileviewer .filelist {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 10px 10px 20px 10px;
    min-width: 200px;
    max-width: 600px;
    height: 100%;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    vertical-align: top;
    overflow-y: scroll; }
    .fileviewer .filelist li {
      position: relative;
      cursor: pointer;
      margin: 2px 0;
      padding: 2px 14px 2px 12px;
      max-width: 295px;
      line-height: 1.5em;
      border: 1px solid #dddddd;
      white-space: nowrap;
      overflow: hidden;
      border-radius: 5px; }
    .fileviewer .filelist .file {
      background: #ddddff; }
    .fileviewer .filelist .filename {
      display: block;
      margin: 0 20px;
      overflow: hidden; }
    .fileviewer .filelist .fileicon {
      position: absolute;
      top: 7px;
      left: 10px; }
    .fileviewer .filelist .download {
      position: absolute;
      top: 7px;
      right: 10px; }
    .fileviewer .filelist .download:hover {
      color: white; }

.mediaviewer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7); }
  .mediaviewer .close {
    position: absolute;
    top: -40px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer; }
  .mediaviewer .mediaview {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    overflow: scroll; }
    .mediaviewer .mediaview .dn-media-book {
      width: 100%;
      height: 100%; }
    .mediaviewer .mediaview .dn-media-movie, .mediaviewer .mediaview video {
      max-width: 100%;
      max-height: 100%; }
    .mediaviewer .mediaview .dn-media-music {
      margin-top: 20%; }
