* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0; }

header {
  height: 60px;
  background: black;
  text-align: center; }
  header h1, header nav, header form, header ul, header li {
    display: inline-block; }
  header h1 {
    margin: 0;
    color: white;
    vertical-align: middle; }
  header nav {
    width: 700px;
    text-align: left;
    padding-left: 20px; }
    header nav ul {
      padding: 0;
      list-style: none; }
    header nav li {
      margin-left: 20px; }
      header nav li a {
        color: white;
        text-decoration: none; }

footer .copy {
  margin: 20px; }

.hide {
  display: none; }

.davneko {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: scroll;
  white-space: nowrap; }
  .davneko .filelist {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0 10px 0 10px;
    min-width: 200px;
    max-width: 400px;
    height: 100%;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    vertical-align: top;
    overflow-y: scroll;
    text-indent: 20px; }
    .davneko .filelist li {
      cursor: pointer;
      margin: 2px 0;
      padding: 2px 4px 2px 2px;
      max-width: 295px;
      line-height: 1.5em;
      border: 1px solid #dddddd;
      white-space: nowrap;
      overflow: hidden; }
    .davneko .filelist .directory {
      background: #cccc99; }
    .davneko .filelist .file {
      background: #ccccff; }
    .davneko .filelist .fileicon {
      width: 0px;
      position: relative;
      left: -40px; }
