*
  box-sizing: border-box

body, html
  margin: 0
  padding: 0
  width: 100%
  height: 100%

footer
  .copy
    margin: 20px

.hide
  display: none

.dn-auth
  margin: 100px auto
  padding: 0
  width: 280px
  height: 330px
  border: 1px solid #dcdcdc
  border-radius: 10px
  text-align: center

  h1
    font-size: 42px
    color: #4890E2

  input
    display: block
    font-size: 18px

  input[type='text'], input[type='password']
    margin: 10px auto 40px
    padding: 8px 0
    width: 200px
    border: 1px solid #ddd
    border-radius: 4px
    text-align: center
    font-size: 18px
  input[type='password']
    margin-bottom: 0

  button
    position: relative
    top: 30px
    margin: 0 auto
    width: 120px
    height: 120px
    border: 0
    border-radius: 75px
    background: #4890E2
    font-size: 16px
    color: #fcfcfc
    cursor: pointer
  button:after
    display: block
    margin: 4px 0 0 0
    font-size: 24px
    font-family: FontAwesome
    content: "\f090"

.fileviewer
  position: absolute
  width: 100%
  height: 100%
  overflow-x: scroll
  overflow-y: visible
  white-space: nowrap

  .filelist
    list-style: none
    display: inline-block
    margin: 0
    padding: 10px 10px 20px 10px
    min-width: 200px
    max-width: 600px
    height: 100%
    border-right: 1px solid #ddd
    border-left: 1px solid #ddd
    vertical-align: top
    overflow-y: scroll

    li
      position: relative
      cursor: pointer
      margin: 2px 0
      padding: 2px 14px 2px 12px
      max-width: 295px
      line-height: 1.5em
      border: 1px solid #ddd
      white-space: nowrap
      overflow: hidden
      border-radius: 5px
    .directory
    .file
      background: #ddf
    .filename
      display: block
      margin: 0 20px
      overflow: hidden
    .fileicon
      position: absolute
      top: 7px
      left: 10px
    .download
      position: absolute
      top: 7px
      right: 10px
    .download:hover
      color: #FFF

.mediaviewer
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(255, 255, 255, 0.7)
  .close
    position: absolute
    top: -40px
    right: 10px
    width: 30px
    height: 30px
    font-size: 30px
    color: #fff
    cursor: pointer
  .mediaview
    position: absolute
    top: 10px
    bottom: 10px
    left: 10px
    right: 10px
    text-align: center
    overflow: scroll
    .dn-media-book
      width: 100%
      height: 100%
    .dn-media-movie, video
      max-width: 100%
      max-height: 100%
    .dn-media-music
      margin-top: 20%
