*
  box-sizing: border-box

body, html
  margin: 0
  padding: 0

$headerH: 60px

header
  height: $headerH
  background: #000
  text-align: center
  h1, nav, form, ul, li
    display: inline-block
  h1
    margin: 0
    color: #fff
    vertical-align: middle
  nav
    width: 700px
    text-align: left
    padding-left: 20px
    ul
      padding: 0
      list-style: none
    li
      margin-left: 20px
      a
        color: #fff
        text-decoration: none

footer
  .copy
    margin: 20px

.hide
  display: none

.davneko
  position: absolute
  top: $headerH
  left: 0
  bottom: 0
  right: 0

  .filelist
    list-style: none
    display: inline-block
    margin: 0
    padding: 0 0 0 10px
    max-width: 300px
    height: 100%
    border-right: 1px solid #ddd
    border-left: 1px solid #ddd
    vertical-align: top
    overflow-y: scroll
    text-indent: 20px

    li
      cursor: pointer
      margin: 2px 0
      padding: 2px 4px 2px 2px
      max-width: 295px
      line-height: 1.5em
      border: 1px solid #ddd
      white-space: nowrap
      overflow: hidden
    .directory
      background: #cc9
    .file
      background: #ccf
    .fileicon
      width: 0px
      position: relative
      left: -40px
