input.nn-text-field,
textarea.nn-text-field {
  display: inline-flex;
  height: 40px;
  margin: 0;
  padding: 4px 8px;
  color: #333333;
  font-weight: normal;
  font-size: 14px;
  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 8px;
  -webkit-appearance: textfield;

  &:focus {
    border-color: #0095ee;
  }
  &.type-small {
    height: 32px;
    font-size: 14px;
  }
}
