.nn-icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  fill: #222222;

  &.size-small {
    width: 20px;
    height: 20px;
  }

  &.size-xsmall {
    width: 16px;
    height: 16px;
  }

  &.secondary {
    fill: #999999;
  }

  &.disabled {
    fill: #cccccc;
  }

  &.accent {
    fill: #0095ee;
  }

  &.attention {
    fill: #ff0211;
  }

  &.white {
    fill: #ffffff;
  }

  &.black {
    fill: #000000;
  }

  &.inherit {
    fill: inherit;
  }
}
