$service-color-primary: #005bea;
$service-color-primary-lighten-20: #338eff;
$service-color-primary-lighten-40: #66c1ff;
$service-color-primary-darken-20: #0028b7;
$service-color-secondary: #00c6fb;
$background-color-secondary: #f2f3ff;
